<div>
    <h1 data-uId="{{uId}}">PERFIL DEL USUARIO</h1>
    <p>{{firstname}} {{lastname}}</p>
    <p>Edad: {{age}}</p>
    <p>Email: {{email}}</p>
    <div>
        <form action="/api/session/logout" method="get">
            <br />
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>

    <h2>Actualizar Usuario</h2>
    
    <div class="col-md-4 my-auto">
        {{#if profileImage}}
        {{else}}
        <form class="card card-body rounded-0" id="profileForm" action="/api/users/{{uId}}/documents" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="profileImage">Cargar Imagen de Perfil:</label>
                <input type="file" name="profileImage" accept="image/*" class="form-control rounded-0 mb-1">
            </div>
            <button class="btn btn-dark rounded-0">Enviar</button>
        </form>
        {{/if}}
    </div>

    <div class="col-md-4 my-auto">
        {{#if identificationImage}}
        {{else}}
        <form class="card card-body rounded-0" id="identificationForm" action="/api/users/{{uId}}/documents"
            method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="identificationImage">Subir identificación:</label>
                <input type="file" name="identificationImage" accept="image/*" class="form-control rounded-0 mb-1">
            </div>
            <button class="btn btn-dark rounded-0">Enviar</button>
        </form>
        {{/if}}
    </div>

    <div class="col-md-4 my-auto">
        {{#if residenceImage}}
        {{else}}
        <form class="card card-body rounded-0" id="residenceForm" action="/api/users/{{uId}}/documents" method="POST"
            enctype="multipart/form-data">
            <div class="form-group">
                <label for="residenceImage">Comprobante de domicilio:</label>
                <input type="file" name="document" accept="image/*" class="form-control rounded-0 mb-1">
            </div>
            <button class="btn btn-dark rounded-0">Enviar</button>
        </form>
        {{/if}}
    </div>

    <div class="col-md-4 my-auto">
        {{#if accountstatusImage}}
        {{else}}
        <form class="card card-body rounded-0" id="accountstatusForm" action="/api/users/{{uId}}/documents" method="POST"
            enctype="multipart/form-data">
            <div class="form-group">
                <label for="accountstatusImage">Comprobante de estado de cuenta:</label>
                <input type="file" id="document" name="accountstatusImage" accept="image/*"
                    class="form-control rounded-0 mb-1">
            </div>
            <button class="btn btn-dark rounded-0">Enviar</button>
        </form>
        {{/if}}
    </div>
</div>

<script src="/js/completeproducts.js"></script>