<header class="bg-black">
  <h1 class="text-white text-center uppercase text-2xl py-2">E-commerce</h1>
</header>
<main class="flex flex-col justify-center items-center px-6 py-12 lg:px-8">

  <section class="flex font-medium items-center justify-center">
    <section class="flex flex-col justify-center items-center mx-auto rounded-2xl px-8 py-6 shadow-lg">

      <div class="flex flex-col items-center justify-between">

        <h2>PERFIL DEL USUARIO</h2>
        <p>ROL: {{role}}</p>
        <p>Email: {{email}}</p>

        <form action="/api/session/logout" method="get">
          <button type="submit"
            class="border border-gray-200 bg-gray-200 text-gray-700 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-300 focus:outline-none focus:shadow-outline">
            Cerrar session
          </button>
        </form>
        <div class="mt-6 w-fit mx-auto">
          <img src="https://api.lorem.space/image/face?w=120&h=120&hash=bart89fe" class="rounded-full w-28"
            alt="profile picture" srcset="">
        </div>
        <div class="mt-6 ">
          <h2 class="text-black text-center font-bold text-2xl tracking-wide">{{firstname}} {{lastname}}</h2>
        </div>
        <p> </p>
        <p>Edad: {{age}}</p>

        <div>
          {{#if isAdmin}}
          <a href="/products">
            <button type="button"
              class="border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline">
              Ir a administrar los productos</button>
          </a>
          <a href="/usermanagement">
            <button type="button"
              class="border border-yellow-500 bg-yellow-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-yellow-600 focus:outline-none focus:shadow-outline">
              Ir a administrar a los diferentes usuarios
            </button>
          </a>
          {{else}}
          {{#if isPremium}}


          <a href="/products">
            <button type="button"
              class="border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline">
              Ir a administrar los productos</button>
          </a>

          <a href="/chat">Ir a enviar mensajes al chat</a> <br>
          <a href="/cartsuser">Ir a ver mi carrito</a>
        </div>
        {{else}}
        <div>
          <a href="/chat">Ir a enviar mensajes al chat</a> <br>
          <a href="/cartsuser">Ir a ver mi carrito</a><br>
          <a href="/completeprofile">Completar Perfil</a>
        </div>
        <h1>{{firstName}} {{lastName}}</h1>
        {{/if}}
        {{/if}}
      </div>
      </div>
    </section>
  </section>
</main>