<div>
    <h1>ADMIN: {{firstname}}{{lastname}}</h1>

    {{#each usermap}}
        {{#if isAdmin}}
        
        {{else}}
            <div class="col-md-5 py-3 overflow-auto h-80">
                <div id="users">
                    <div>
                        <div>
                            <div class="card card-body rounded-2 mb-2 animate__animated animate__fadeInUp background">
                                <button class="btn btn-danger btn-delete-user" data-user-id="{{id}}"
                                    style="border: 1px solid black; font-size: 12px;">Eliminar Usuario</button>
                                <div class="d-flex justify-content-between">
                                    <h1 class="h3 card-title">Usuario: {{firstname}} {{lastname}}</h1>
                                </div>
                                <p class="h5">{{email}}</p>
                                <div>
                                    <h2>Rol : {{role}} </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{else}}
        <p>No hay usuarios disponibles.</p>
    {{/each}}
</div>

<script src="/js/usermanagement.js"></script>
