<!DOCTYPE html>
<html lang="es" class="h-full bg-gray-50">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{#if description}}{{description}}{{else}}Aplicación web moderna{{/if}}">
  
  <script src="https://cdn.tailwindcss.com"></script>
  
  <style>
    ::-webkit-scrollbar { width: 8px; }
    ::-webkit-scrollbar-track { background: #f1f1f1; }
    ::-webkit-scrollbar-thumb { background: #c1c1c1; border-radius: 4px; }
    ::-webkit-scrollbar-thumb:hover { background: #a8a8a8; }
  </style>
  
  <title>{{#if title}}{{title}}{{else}}Mi App{{/if}}</title>
</head>

<body class="h-full flex flex-col">
  {{> header}}
  
  {{> main content=body}}
  
  {{> footer}}
  
  {{#if customJS}}
    {{{customJS}}}
  {{/if}}
</body>

</html>